<?php snippet('header') ?>

.main(role='main')
  .text
    h1 <?php echo $page->title()->html() ?>
    <?php echo $page->text()->kirbytext() ?>

  hr
  <?php snippet('projects') ?>

<?php snippet('footer') ?>