footer.footer.cf(role='contentinfo')
  .copyright
    <?php echo $site->copyright()->kirbytext() ?>
  .colophon
    a(href='http://getkirby.com/made-with-kirby-and-love')
      | Made with Kirby and
      b ♥

</body>
</html>