h2 Latest projects
ul.teaser.cf
  <?php foreach(page('projects')->children()->visible()->limit(3) as $project): ?>
  li
    h3: a(href!='<?php echo $project->url() ?>') <?php echo html($project->title()) ?>
    p <?php echo excerpt($project->text(), 80) ?>
      a(href!='<?php echo $project->url() ?>') read&nbsp;more&nbsp;

    <?php if($image = $project->images()->sortBy('sort', 'asc')->first()): ?>
    
    a(href!='<?php echo $project->url() ?>')
      img(src!='<?php echo $image->url() ?>', alt!='<?php echo html($project->title()) ?>')

    <?php endif ?>
  <?php endforeach ?>